@font-face {
    font-family: 'Bridger';
    src: url('fonte/Bridger-2OMXW.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    height: auto;
}

body{
    height: auto;
    margin: 0;
    background-image: linear-gradient(to top, #421820, #CD5D67);
}

/*-------------------------------------------------------------------------------------------------------------------*/

.menu{
    background-color: #CD5D67;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.menu img{
    width: 90px;
    height: 90px;
    margin-left: 10px;
    border-radius: 50%;
}

.paginas{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    color: white;
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.2em;
    margin: 10px;
}

.usuario a{
    padding: 0px;
    width: 1px;
    height: 10px;
}

.usuario img{
    width: 60px;
    height: 60px;
    margin: 5px;
    margin-top: 1.5em;
    border-radius: 50%;
}
/*-------------------------------------------------------------------------------------------------------------------*/

h4{
    color: white;
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    z-index: 2;
    top: 2.7em;
    left: 25em;
}

h3{
    color: white;
    font-family: Bridger;
    font-style: normal;
    font-weight: normal;
    font-size: 4em;
    position: absolute;
    z-index: 3;
    left: 13em;
}

h5{
    color: white;
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.7em;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    z-index: 4;
    top: 3.1em;
    left: 37em;
}

h6{
    color: white;
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.6em;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    z-index: 5;
    top: 4em;
    left: 42.2em;
}

.txt-boasVindas{
    width: 550px;
    color: white;
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.4em;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    position: absolute;
    z-index: 6;
    top: 7em;
    left: 25em;
}

.logo-grande img{
    width: 190px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    z-index: 7;
    top:18em;
    left: 85em;
}
/*--------------------------------------------------------------------------------------------------------------------*/

.slideshow-container {
    background-color: white;
    width: 100%;
    height: 30em;
    position: relative;
    margin: auto;
    
}

.slideshow-container h2{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.8em;
    color: black;
    font-weight: normal;
    text-align: center;
}

.carrossel-item{
    display: flex;
    background-color: #91171F;
    width: 700px;
    height: 350px;
    border-radius: 30px;
    margin: 10px;
    margin-bottom: 10px;
    margin-right: 5em;
}

.carrossel-item p{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.05em;
    color: white;
    text-align: justify;
    padding: 10px;
    margin-top: 28px;
    margin-right: 15px;
}

.livro img{
    width: 10em;
    height: 15em;
    border: solid 4px black;
    margin: 20px;
    margin-top: 35px;
}
  
.mySlides {
  display: none;
  margin-left: 7em;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #CD5D67;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #91171F;
  border-radius: 50%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*-------------------------------------------------------------------------------------------------------------------*/

.autores{
    width: 100%;
    height: 30em;
    display: flex;
    margin-top: 50px;
}

.autores h3{
    color: white;
    font-family:  'Anek Kannada', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.9em;
    margin-top: 20px;
    margin-left: 10.5em;
}

.fotos-autores{
    display: flex;
    width: 100%;
    height: 20em;
    justify-content: space-around;
    margin: 30px;
    margin-top: 80px;
    text-align: center;
}

.fotos-autores img{
    max-width: 100%;
    width: 10em;
    height: 10em;
    border: solid 5px white;
    border-radius: 50em;
    margin: 10px;
}

.fotos a{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.5em;
    color: white;
    font-weight: normal;
    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.vestibular{
    width: auto;
    height: 40em;
}

.ves-titulo{
    background-color: white;
    width: 30em;
    height: 6em;
    position: relative;
    z-index: 1;
    bottom: 1em;
    left: 9em;
}

.ves-titulo p{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.5em;
    color: black;
    font-weight: normal;
    text-align: left;
    padding: 10px;
}

.livro1 img{
    border: 5px solid white;
    width: 13em;
    height: 20em;
    position: relative;
    z-index: 2;
    bottom: 7em;
    left: 40em;
}

.info-lv1{
    background-color: #BA1F33;
    width: 29em;
    height: 17.5em;
    position: relative;
    z-index: 3;
    bottom: 28.5em;
    left: 54.5em;
}

.info-lv1 p{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1em;
    color: white;
    font-weight: normal;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

.livro2 img{
    border: 5px solid white;
    width: 11em;
    height: 17em;
    position: relative;
    z-index: 4;
    bottom: 39em;
    left: 27.5em;
}

.info-lv2{
    background-color: #BA1F33;
    width: 17.5em;
    height: 18em;
    position: relative;
    margin: 10px;
    z-index: 3;
    bottom: 57.9em;
    left: 8.4em;
}

.info-lv2 p{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1em;
    color: white;
    font-weight: normal;
    padding: 5px;
    margin: 7.3px;
    text-align: justify;
}

.livro3 img{
    border: 5px solid white;
    width: 13em;
    height: 20em;
    position: relative;
    z-index: 4;
    bottom: 88.7em;
    left: 81em;
}

.info-lv3{
    background-color: #BA1F33;
    width: 30em;
    height: 20em;
    position: relative;
    z-index: 3;
    bottom: 115.7em;
    left: 45em;
}

.info-lv3 p{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1em;
    color: white;
    font-weight: normal;
    padding: 10px;
    text-align: justify;
}

.box-info{
    background-color: white;
    width: 30em;
    height: 13em;
    position: relative;
    z-index: 4;
    bottom: 133em;
    left: 9em;
}

.box-info p{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1em;
    color: black;
    font-weight: normal;
    text-align: justify;
    padding: 10px;
}


/*--------------------------------------------------------------------------------------------------------------------*/

footer{
    background-color: #410B13;
    width: 100%;
}

.infos{
    display: flex;
    justify-content: space-between;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;
    width: 10em;
}

.redes-sociais h7{
    width: 90px;
    height: 20px;
    color: white;
    font-family: Bridger;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4em;
    text-align: left;
    margin-top: 30px;
}

.redes-sociais img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-top: 12px;
}

.infos p, a{
    font-family: 'Anek Kannada', sans-serif;
    font-size: 1.1em;
    color: white;
    font-weight: normal;
    text-decoration: none;
    padding: 10px;
}